<% layout('layouts/boilerplate') %>
<body>
  <h3><%= particularBnb.title%></h3>
  <p><%= particularBnb.description%></p>
  <img src="<%= particularBnb.url%>" alt="image" width="250px" />
  <p><%= particularBnb.price%></p>
  <p><%= particularBnb.location%></p>
  <p><%= particularBnb.country%></p>
  <a href="http://localhost:3000/listings/<%=particularBnb.id %>/edit"
    >Edit Place</a
  >
  <form action="/listings/<%= particularBnb.id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
</body>
